.nav-bar {
  position: fixed;
  top: 0; /* Fix the navbar to the top of the viewport */
  left: 0; /* Align the navbar to the left */
  z-index: 1000; /* Ensure the navbar is above other elements */
  width: 100%;
  background-color: #111827;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Set the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 100px; /* Adjust the margin as needed */
}

.brand {
  margin-left: 10px; 
  font-size: 24px;

}
.brand a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Ensure the anchor text inherits the color from its parent */
}


.ulStyle {
  display: flex;
  font-size: 16px;
}

.ulStyle li {
  cursor: pointer;
  margin-right: 25px;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
}
.ulStyle li:first-child{
  color:#3b82f6
}
.ulStyle li:hover
{
  color:#3b82f6
}

.get-started-button {
  margin-right: 40px; /* Adjust the margin as needed */
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
}
